.navbar{
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    width: 100%;
    top:0;
    z-index: 2;
    background: white;
  }

  
.belbuk{
    font-family: 'Pacifico', cursive;
    font-size: xx-large;
    color:black;
  }

.listCart{
    margin-top: 150px;
}

img{
    width:90px;
}